section {
    display: grid;
    margin: 16px;
    grid-template-columns: repeat(4, 280px);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    overflow-x: auto;
}

#movie-section {
    overflow-y: none;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8em;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.movie h2,
.movie p {
    display: block;
    width: 90%;
    text-align: left;
    color: black;
}

.movie img {
    border-radius: 0.8em 0.8em 0 0 ;
    width: 280px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
}

.movie button {
    color:black;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.3em;
    width: 200px;
    margin-bottom: 20px;
}

.movie button i {
    padding-top: 3px;
}

.movie button p {
    font-size: 22px;
    display: inline;
}

h1 {
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: cursive;
}