h1 {
    text-align: center;
    font-size: 40px;
}

.columns {
    display: flex;
    justify-content: center;
}

#comments-section button {
    color: black;
    border: 1px solid black;
    font-weight: normal;
    border-radius: 1em;
}

textarea {
    resize: none;
}

img { 
    border-radius: 4em;
    width: 400px;
    margin-right: 50px;
}