<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/list.css">
    <script src="../js/list.js"></script>
    <script src="../js/nav.js" defer></script>
    <title>Lista</title>
</head>
<body>
    <nav id="topNav">
        <button onclick="goToHomePage()">Strona główna</button>
        <button onclick="toggleCategories()">Kategorie</button>
        <button onclick="randomMovie()">Losowy Film</button>
        <button onclick="profile()">Profil</button>
    </nav>

    <nav id="categoriesNav"></nav>

    <section id="favoriteMoviesSection"></section>
</body>
</html>
