<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login_register.css">
    <script src="../js/login_register.js"></script>
    <title>Login Page</title>
</head>
<body>    
    <!-- Ekran logowania -->
    <div class="form-container" id="loginForm">
        <h2>Logowanie</h2>
        <form class="login-form" onsubmit="event.preventDefault(); login()">
            <div class="form-group">
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Zaloguj</button>
                <p>Nie masz jeszcze konta? <a href="javascript:void(0);" onclick="showRegisterForm()">Zarejestruj się</a></p>
            </div>
        </form>
    </div>

    <!-- Ekran rejestracji -->
    <div class="form-container" id="registerForm" style="display: none;">
        <h2>Rejestracja</h2>
        <form class="register-form" onsubmit="event.preventDefault(); register()">
            <div class="form-group">
                <label for="newUsername">Nazwa użytkownika:</label>
                <input type="text" id="newUsername" name="newUsername" required>
            </div>
            <div class="form-group">
                <label for="newPassword">Hasło:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="fistName">Imię:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Nazwisko:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <button type="submit">Zarejestruj</button>
                <p>Masz już konto? <a href="javascript:void(0);" onclick="showLoginForm()">Zaloguj się</a></p>

            </div>
        </form>
    </div>
</body>
</html>