<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona filmu</title>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/movie.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <script defer src="../js/main.js"></script> -->
    <script src="../js/nav.js" defer></script>
    <script src="../js/movie.js" defer></script>
    <script src="../js/rangeSlider.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <button onclick="goToHomePage()">
                    <p>Screen</p>
                    <p>Critic</p>
                </button>
            </div>
            <form class="search-bar">
                <div><i class="material-icons">search</i></div>
                <input type="text" name="search" id="search" placeholder="Wyszukaj film...">
            </form>
            <div class="nav-buttons">
                <div class="column" id="upper">
                    <button onclick="goToProfile()">PROFIL</button>
                    <button id="login" onclick="goToLogin()">ZALOGUJ/ZAREJESTRUJ</button>
                    <button id="logout" onclick="logout()">WYLOGUJ</button>
                </div>
                <div class="column" id="lower">
                    <div class="categories">
                        <button id="categories" onclick="goToHomePage()">KATEGORIE</button>
                    </div>
                    <button id="random-movie" onclick="goToHomePage()">LOSOWY FILM</button>
                </div>
            </div>
        </div>
        <section id="random-movies"></section>
        <section id="search-by-name">
        <nav id="categoriesNav"></nav>
        <section id="movie-description">
            <h1 id="title"></h1>
            <div class="columns">
                <div class="left-column">
                    <img src="https://wiedzaksiegarza.pl/assets/img/b2ef-wiedzaksiegarza-filmy-forrest-gump-main-img.jpg">
                </div>
                <div class="right-column">
                    <div class="description">
                        <h2 id="director">Reżyser: </h2>
                        <h2 id="premiereDate">Data premiery: </h2>
                        <h2>Opis:</h2>
                        <p id="description"></p>
                    </div>
                    <div class="rating">
                        <h2 id="averageRating">Ocena krytyków: </h2>
                    </div>
                    <button id="button-add-to-list">Dodaj do listy</button>
                </div>
            </div>
        </section>
        <section id="comments-section">
            <form>
                <h2>Komentarze</h2>
                <textarea id="new-comment" placeholder="Dodaj nowy komentarz" class="added-comment"></textarea>
    
                <label for="rating-slider">Ocena: </label>
                <input type="range" name="rating" id="rating-slider" min="0" max="10" step="1" class="range-rating">
                <!-- <output for="rating" onforminput="value = rating.valueAsNumber;"></output> -->
                <span id="selected-rating"></span>
    
                <button type="button" onclick="addComment()">Dodaj Komentarz</button>
            </form>
            <div id="comments-container">
        
            </div>
        </section>
    </div>
</body>
</html>