<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css">
    <script src="../js/profile.js"></script>
    <script src="../js/nav.js"></script>
    <title>Profil</title>
</head>
<body>
    <nav id="topNav">
        <button onclick="goToHomePage()">Strona główna</button>
        <button onclick="toggleCategories()">Kategorie</button>
        <button onclick="randomMovie()">Losowy Film</button>
        <button onclick="profile()">Profil</button>
    </nav>

    <nav id="categoriesNav">
        <!-- Kategorie będą dynamicznie dodawane tutaj za pomocą JavaScript -->
    </nav>

    <div class="profile-container">
        <div class="profile-info">
            <h2>Username: JohnHoe</h2>
            <p>Email: john.hoe@example.com</p>
            <p>Ranga: Użytkownik bambik</p>
        </div>
        
        <button onclick="readMovieList()">Moja lista</button>
        <button onclick="logout()">Wyloguj</button>
    </div>

</body>
</html>

